.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #365b77;
}

.li {
    float: left;
  
    font-size: 17px;
}

.li a {
  
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #111;
    background-color: #ddd;
    color: black;
}

.card {
   
    color: #ccc;
    width: 90px;
    height: 240px;
    background-color: #365b77;
    box-shadow: 7px 7px 15px #191919,
        7px 7px 15px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
        transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    padding: 220px;
    margin: 50px 450px;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.95;
   
}

.card:hover {
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    transform: scale(1.05);
    cursor: pointer;
}


.img {
    border-radius: 20px;
    margin: -250px 0px -10px -165px;
  
}

.letter{
    margin: 20px 0px 10px -150px;
    font-size: 23px;

}
.titleone{
    margin: 30px -150px 10px -150px;
    color: black;
    font-size: 40px;
    text-shadow: 2px 0 0 rgb(25, 24, 24);
    text-align: center
}
