
.card {
    color: yellow;
    border-radius: 50px;
    text-align: center;
    display: flex;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    margin: 30px auto;
    padding: 20px;
  }
.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  

.countryImage{
    
    border-radius: 10px;
    align-items: center;
    flex: center;
}
