.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #365b77;
}

.li {
    float: left;
  
    font-size: 17px;
}

.li a {
 
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #111;
    background-color: #ddd;
    color: black;
}
.h1{
    text-shadow: 2px 0 0 rgb(25, 24, 24), -2px 0 0 rgb(25, 24, 24), 0 2px 0 rgb(25, 24, 24), 0 -2px 0 rgb(25, 24, 24), 1px 1px rgb(25, 24, 24), -1px -1px 0 rgb(25, 24, 24), 1px -1px 0 rgb(25, 24, 24), -1px 1px 0 rgb(25, 24, 24);
    text-align: center;
    color: #ccc;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form{
    text-align: center;
    margin: 50px 0px 0px 0px;
    font-size: 30px;
    padding: 20px;
    text-shadow: 2px 0 0 rgb(25, 24, 24), -2px 0 0 rgb(25, 24, 24), 0 2px 0 rgb(25, 24, 24), 0 -2px 0 rgb(25, 24, 24), 1px 1px rgb(25, 24, 24), -1px -1px 0 rgb(25, 24, 24), 1px -1px 0 rgb(25, 24, 24), -1px 1px 0 rgb(25, 24, 24);
    
}
.form input{
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border: 1px solid #ccc;
    
    outline: #365b77;
    border-radius: 10px;
    cursor: pointer;

}
.form input:hover{
    background-color: #111;
    background-color: #ddd;
    color: black;
}
.form select{
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border: 1px solid #ccc;
  
    outline: #365b77;
    cursor: pointer;
    border-radius: 10px;
}
.container{
    color: #ccc;
    align-items: center;
    margin: auto;
    width: 700px;
    background-color: #365b77;
    box-shadow: 7px 7px 15px #191919,
        7px 7px 15px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
        transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.90;
  
    
    
}
.button{
    
    cursor: pointer;
    background-color: rgb(252, 249, 27);
    border-radius: 5px;

}
.element{
    text-align: left;
    justify-content: space-around;
}
