
.container {
    color:  rgba(255, 255, 255, 0.956);
    margin-right: 0%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:flex-start;
    text-decoration: none;
    height: 100%;
}

.h1{
    text-shadow: 2px 0 0 rgb(25, 24, 24), -2px 0 0 rgb(25, 24, 24), 0 2px 0 rgb(25, 24, 24), 0 -2px 0 rgb(25, 24, 24), 1px 1px rgb(25, 24, 24), -1px -1px 0 rgb(25, 24, 24), 1px -1px 0 rgb(25, 24, 24), -1px 1px 0 rgb(25, 24, 24);
    text-align: center;
    color: #ccc;
    font-size: 70px; 
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: auto;
    background-color: #365b77;
    position: sticky;
    
}
.li{
    float: left;
    
    font-size: 17px;
}
.li a {
    
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li a:hover {
    background-color: #111;
    background-color: #ddd;
    color: black;
}
.li input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    border: 1px solid #ccc;
    
    outline: #365b77;
    border-radius: 10px;
    
    
}
.li  button {
    color: #ccc;
    padding: 6px 20px;
    margin-top: 8px;
    margin-right: 3px;
    margin-left: 0px;
    background: #365b77;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
    
}
.li button:hover{
    background-color: #111;
    background-color: #ddd;
    color: black;
}

.select{
    color: #ccc;
    background: #365b77;
    float: right;
    text-align: center;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline: #365b77;
    
}


.paginated{
    text-align: center;
    margin: -50px;
}
.gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}