.container {
    color:  rgba(255, 255, 255, 0.956);
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:flex-start;
    text-decoration: none;
}
.page{
    
    background: url('../assets/pexels-pixabay-220201.jpg');
   
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
      
 
    position: absolute;
    top: 10;
    left: 0;
}



.h1{
    text-align: center;
    color: #ccc;
    font-size: 70px;
   
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #365b77;
}
.li{
    float: left;

}
.li a {
    display: block;
    color: #ccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li a:hover {
    background-color: #111;
    background-color: #ddd;
    color: black;
}
.li input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
    
    
  }
  .li  button {
      color: #ccc;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 3px;
    margin-left: px;
    background: #365b77;
    font-size: 17px;
    border: none;
    cursor: pointer;
   
  }
.select{
   color: #ccc;
   background: #365b77;
   float: right;
   justify-content: space-between;
   float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 3px;
    margin-left: px;

    font-size: 17px;
    border: none;
    cursor: pointer;
  

}
.select:after{
   
  border-color: #fff transparent transparent transparent;
}
.paginated{
   text-align: center;
   
}
