
.h1{
    text-shadow: 2px 0 0 rgb(25, 24, 24), -2px 0 0 rgb(25, 24, 24), 0 2px 0 rgb(25, 24, 24), 0 -2px 0 rgb(25, 24, 24), 1px 1px rgb(25, 24, 24), -1px -1px 0 rgb(25, 24, 24), 1px -1px 0 rgb(25, 24, 24), -1px 1px 0 rgb(25, 24, 24);
    text-align: center;
    color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 250px;
    font-size: 70px;
   
}